
<tr>
    <td class="norm">
        <% student = Student.find(@students_sittings.student_id)%>
        
        <% if student.last_name != nil %>
            <%=student.first_name + " " + student.last_name%>
        <%else %>
            <%=student.first_name%>
        <%end%>             
    </td>

        <% if student.category_type_id!= nil%>
    <td id="td-align" class="norm">
        <%=student.category_type.name[0,1]%>
    </td>
        <%end%>
    <td id="td-align norm">
        <div id="center">
            <div class="btn-group" role="group">
                <div id="btn-correction" class="btn btn-xs disabled">   
                <% if @students_sittings.special_status_type_id != nil%>
                        <%=@students_sittings.special_status_type.name%>
                <%end%>
                </div>
            </div>
            <div id="scheduled_btn" class="btn">
            <%=link_to "/students/#{student.id}/new_special_status", class:"btn btn-default btn-xs" do%>
                <i class="glyphicon glyphicon-edit"></i>
            <%end%>
            </div>
        </div>           
    </td>
    <td id="td-align">
         <%=link_to "/students/#{@students_sittings.id}/cancel_attendance", :method => :delete, :remote => true, class:"btn btn-default btn-xs cancel_attendance" do %>
                <i class="glyphicon glyphicon-remove"></i>
            <%end%>
    </td>
</tr>       

                         