<div class="container-fluid nopadding">
    <div id="links" class="col-xs-12">
        <%= button_to('Back', students_attendance_path, :class => 'btn btn-primary btn-padded pull-right')  %>
    </div>     
    <div class="col-xs-12">
        <h2>Schedule Meetings</h2>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading" id="light-blue">
            <h4 class="panel-title" id="blue-text"><%="#{@sitting_event_title} " " #{@sitting_start_date}"%></h4>
          </div>
          <div class="panel-body">

                <% if @current_note != nil %>
                <p><%=@current_note.content%></p>
                <%else%>
                <%end%>
          </div>
        </div>
    </div>
    <div class="col-xs-12">
        <table class="table table-hover table-condensed">
            <thead>
                <tr class="noborder">
                    <th colspan="5"><h3>Attending Students</h3>
                    <% @i = 0    
                    @attending_students.each do |student|
                      @i += 1
                    end%>  
                        <p>Number of students: <%=@i%></p>
                </tr>           
                <tr>
                    <th class="norm">Name</th>
                    <th id="th-align" class="norm">C</th>
                    <th id="th-align" class="norm">Notes</th>
                    <th id="th-align" class="norm">#Days</th>
                    <th id="th-align" class="norm">To see</th>
                </tr>
            </thead>          
                    <% @attending_students.each do |student| %>
                <tr>
                    <td class="norm">
                        <% if student.last_name != nil %>
                            <%=student.first_name + " " + student.last_name%>
                        <%else %>
                            <%=student.first_name%>
                        <%end%>
                    </td>
                    <td id="td-align" class="norm">
                        <%=student.category_name[0,1]%>
                    </td>
                    <td id="td-align" class="norm">
                         <% if student.special_status != nil
                            if student.special_status == "retreat"%>
                                <%="retreat (#{student.acceptance_date})"%>
                            <%else%>
                            <%=student.special_status%>
                            <%end%>
                        <%end%>
                    </td>
                    <td id="td-align" class="norm">
                        <%if student.days_since_last_seen.nil? %>
                        <%=100%>
                        <%else%>
                        <%= student.days_since_last_seen %>
                        <%end%>
                    </td>
                    <td>
                        <div id="center">
                        <div class="btn-group" role="group">            
                        <%  @id = student.meeting_id
                            if Meeting.where(id:@id).exists?
                                @meeting = Meeting.find(@id).monastic_id
                                @monastic = Monastic.find(@meeting).initials
                        %>
                        <div id="btn-correction" class="btn btn-xs disabled">  
                                <%=@monastic %>   
                        </div>

                     
                        <div id="scheduled_btn" class="btn">
                                <%=link_to "/students/#{student.id}/new_meeting", class:"btn btn-default btn-xs" do%>
                                    <i class="glyphicon glyphicon-edit"></i>
                                <%end%>
                                <%=link_to "/students/#{student.meeting_id}/delete_meeting", :method => :delete, class:"btn btn-default btn-xs" do %>
                                    <i class="glyphicon glyphicon-remove"></i>
                                <%end%>
                        </div>  
                        <%else%>
                        <div id="scheduled_btn" class="btn">
                            <%=link_to "/students/#{student.id}/new_meeting", class:"btn btn-default btn-xs" do%>
                                <i class="glyphicon glyphicon-edit"></i>
                            <%end%>
                        </div>
                        <%end%>
                    </td>
                    <%end%>
                </tr>       
        </table>
    </div>
</div>
