<div class="container-fluid">
    <div class="row col-xs-8">
        <div id= "links" class="actions">
            <div>
              <%= button_to('Back', students_manage_students_path, :class => 'btn btn-primary pull-right btn-padded')  %>
            </div>
            <div>
              <%= button_to('Edit', edit_student_path, :class => 'btn btn-primary pull-right btn-padded')  %>
           </div>
        </div>
    </div>
    <div class="row col-xs-8">

        <h2>View student details</h2>

        <table>
            <tr>
                <% if @student.last_name != nil %>
                    <p>Name: <%=@student.first_name + " " + @student.last_name%></p>
                <%else %>
                    <p>Name: <%=@student.first_name%></p>
                <%end%>
            </tr>
            <tr>
                <% if @student.category_type != nil%>
                    <p>Category: <%=@student.category_type.name%></p>
                <%end%>
            </tr>
            <tr>
                <% if @student.acceptance_date!= nil%>
                    <p>Acceptance date: <%=@student.acceptance_date%></p>
                <%end%>
            </tr>
            <tr>
                <% if @student.email!= nil%>
                    <p>Email: <%=@student.email%></p>
                <%end%>
            </tr>
            <tr>
                <% if @student.dietary_restrictions!= nil%>
                    <p>Dietary restrictions: <%=@student.dietary_restrictions%></p>
                <%end%>
            </tr>
            <tr>
                <% if @student.other!=nil%>
                    <p>Other: <%=@student.other%></p>
                <%end%>
            </tr>
        </div>
        <div class="row col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr class="noborder">
                        <th colspan="3"><h3>Recent meetings</h3>
                    </tr>           
                    <tr>
                      <th> Date</th>
                      <th> Sitting </th>
                      <th> Monastic </th>
                    </tr>
                </thead>
                    <%if @show_meetings.length > 0%>
                        <% @show_meetings.each do |meeting| %>   
                            <tr>
                            <%if meeting.start_date != nil%>
                                <td><%=meeting.start_date.strftime("%b-%d-%Y")%></td>
                            <%end%>
                            <%if meeting.event_title != nil%>    
                                <td><%=meeting.event_title%></td>
                            <%end%>    
                            <%if meeting.initials != nil%>        
                                <td><%=meeting.initials%></td>
                            <%end%>    
                            </tr>
                        <%end%>         
                    <%end%>
                <thead>
                    <tr class="noborder">
                        <th colspan="3"><h3>Recently attended sittings</h3>
                    </tr>           
                    <tr>
                      <th> Date</th>
                      <th> Sitting </th>
                      <th></th>
                    </tr>
                </thead>
                    <%if @show_attendance.length > 0%>
                        <% @show_attendance.each do |attendance| %>   
                            <tr>
                            <%if attendance.start_date != nil%>
                                <td><%=attendance.start_date.strftime("%b-%d-%Y")%></td>
                            <%end%>
                            <%if attendance.event_title != nil%>    
                                <td><%=attendance.event_title%></td>
                            <%end%>
                                <td></td>
                            </tr>
                        <%end%>         
                    <%end%>
            </table>    
        </div>

</div>
