<div class ="container-fluid">

    <div class="col-xs-12">
        <h5>Please select a sitting from one of the two following lists:</h5>

        <%= form_for(@students_sittings, :url => {:action => "update_sitting"}) do |f| %>
            
            <h4> Today's sittings</h4>
            <div class="field">
                <%= collection_select(:students_sittings, :sitting_id, @sitting, :id, :sitting_info) %>
            </div>
            <div id= "buttonId" class="actions">
                <%= f.submit "Submit", class:"btn btn-primary btn-padded btn-xs" %>
        <%end%> 
            </div>
    </div>
    <div class="col-xs-12">
        <%= form_for(@students_sittings, :url => {:action => "update_sitting"}) do |f| %>
          <h4> All sittings</h4>
            <div class="field">
                <%= collection_select(:students_sittings, :sitting_id, @all_sittings, :id, :sitting_info) %>
            </div>
            <div id= "buttonId" class="actions">
                <%= f.submit "Submit", class:"btn btn-padded btn-primary btn-xs" %>
        <%end%> 
            </div>
    </div>                     
</div>

<div class="btn">
    <%=link_to 'Refresh Calendar Data', sittings_refresh_path, class:"btn btn-default btn-xs"%>
    
</div>




